.mypage-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

/* ================= 좌측 구역 스타일 ================= */
.left-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px; 
  height: 1024px;
  overflow: hidden;
  z-index: 1;
}

.bg-map {
  width: auto;
  height: 100vh; 
  position: absolute;
  top: 70px;
  left: -530px;
  display: block;
  opacity: 0.5;
}

.mypage-flag {
  position: absolute;
  top: 392px;
  left: 158px;
  z-index: 2;
}

.mypage-flag img {
  width: 215px;
  display: block;
}

.torn {
  position: absolute;
  top: 0;
  left: 460px;
  height: 100vh;
  object-fit: fill;
  z-index: 2; 
  pointer-events: none;
}

.right-section {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 600px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}