.simulation-gauge-box {
    position: relative;

    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.simulation-gauge-image {
    display: block;

    width: 500px;
    height: 500px;

    object-fit: contain;
}
/* 게이지 중앙 확률 */
.simulation-gauge-percent {
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;

    transform: translateY(-50%);

    font-size: 80px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;

    text-align: center;
}

.gauge-level-20 .simulation-gauge-percent {
    color: #ff383c;
}

.gauge-level-40 .simulation-gauge-percent {
    color: #ff8d28;
}

.gauge-level-60 .simulation-gauge-percent {
    color: #ffcc00;
}

.gauge-level-80 .simulation-gauge-percent {
    color: #34c759;
}