body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  transform-origin: center center; 
  overflow: hidden; 
  text-align: center;
}